<div class="mt-4">
  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="form-group">
      <label for="name">Nhập khóa học</label>
      <input
        type="text"
        class="form-control"
        value="{{course.name}}"
        name="name"
        id="name"
        placeholder="Nhập tên khóa học"
      />
    </div>
    <div class="form-group">
      <label for="description">Mô tả khóa học</label>
      <input
        type="text"
        class="form-control"
          value="{{course.description}}"
        id="description"
        name="description"
        placeholder="Nhập tên mô tả"
      />
    </div>
    <div class="form-group">
      <label for="level">Cấp độ khóa học</label>
      <input
        type="text"
        class="form-control"
             value="{{course.level}}"
        id="level"
        name="level"
        placeholder="Nhập level khóa học"
      />
    </div>
     <div class="form-group">
      <label for="video">Video khóa học</label>
      <input
        type="text"
        class="form-control"
        id="video"
        name="video"
        value="{{course.video}}"
        placeholder="Nhập video id"
      />
    </div>
    <button type="submit" class="btn btn-primary">Sửa khóa học</button>
  </form>
</div>